# ESE 415 Final Project - Analyzing Data Scientist Salaries

## By: Abigail Alpert and Kevin Yan

# Data exploration and preprocesing

### Dataset Columns
1. **work_year** : The year the salary was paid.

2. **experience_level** : The experience level in the job during the year

3. **employment_type** : The type of employment for the role

4. **job_title** : The role worked in during the year.

5. **salary** : The total gross salary amount paid.

6. **salary_currency** : The currency of the salary paid as an ISO 4217 currency code.

7. **salaryinusd** : The salary in USD

8. **employee_residence** : Employee's primary country of residence in during the work year as an ISO 3166 country code.

9. **remote_ratio** : The overall amount of work done remotely

10. **company_location** : The country of the employer's main office or contracting branch

11. **company_size** : The median number of people that worked for the company during the year

In [26]:
import pandas as pd
import numpy as np
import re

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('ds_salaries.csv', index_col = 0)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

First off, basic data cleaning (dropping duplicates and NA's).

In [3]:
df = df.drop_duplicates()
df = df.dropna(subset=['salary_in_usd'])

Now let's create a couple flags/binary variables that could be useful for predictions

In [4]:
df['is_manager'] = df['job_title'].str.contains('Manager|Lead|Director|Head', case=False).astype(int)
df['is_remote'] = (df['remote_ratio'] == 100).astype(int)
df['is_hybrid'] = ((df['remote_ratio'] > 0) & (df['remote_ratio'] < 100)).astype(int)
df['same_country'] = (df['employee_residence'] == df['company_location']).astype(int)

In [5]:
print("Unique Job Titles:",len(df['job_title'].unique()))
print("Unique Employee Residences:",len(df['employee_residence'].unique()))
print("Unique Company Locations:",len(df['company_location'].unique()))

Unique Job Titles: 50
Unique Employee Residences: 57
Unique Company Locations: 50

## <span style="color:red"> Check if standardizing makes sense here. My concern is that it'll make our predictions hard to interpret </span>

Let's standardize the numerical features to help the model converge faster. The different numerical features have very different magnitudes which could cause issues during gradient descent.

In [6]:
num_cols = ['work_year', 'salary', 'salary_in_usd', 'remote_ratio']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_cols)
    ],
    remainder='passthrough'
)

X_standardized = preprocessor.fit_transform(df)

all_feature_names = list(num_cols) + [
    col for col in df.columns 
    if col not in num_cols
]

standardized_df = pd.DataFrame(X_standardized, columns=all_feature_names)

standardized_df

,work_year,salary,salary_in_usd,remote_ratio,experience_level,employment_type,job_title,salary_currency,employee_residence,company_location,company_size,is_manager,is_remote,is_hybrid,same_country
0,-1.956361,-0.167734,-0.42618,-1.710815,MI,FT,Data Scientist,EUR,DE,DE,L,0,0,0,1
1,-1.956361,-0.048869,2.06863,-1.710815,SE,FT,Machine Learning Scientist,USD,JP,JP,S,0,0,0,1
2,-1.956361,-0.15835,-0.021966,-0.487257,SE,FT,Big Data Engineer,GBP,GB,GB,M,0,0,1,1
3,-1.956361,-0.199014,-1.254701,-1.710815,MI,FT,Product Data Analyst,USD,HN,HN,S,0,0,0,1
4,-1.956361,-0.117686,0.545437,-0.487257,SE,FT,Machine Learning Engineer,USD,US,US,L,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,0.910939,-0.115183,0.600826,0.7363,SE,FT,Data Engineer,USD,US,US,M,0,1,0,1
561,0.910939,-0.1327,0.213104,0.7363,SE,FT,Data Engineer,USD,US,US,M,0,1,0,1
562,0.910939,-0.130823,0.254645,-1.710815,SE,FT,Data Analyst,USD,US,US,M,0,0,0,1
563,0.910939,-0.117686,0.545437,0.7363,SE,FT,Data Analyst,USD,US,US,M,0,1,0,1
564,0.910939,-0.086406,1.237797,0.7363,MI,FT,AI Scientist,USD,IN,US,L,0,1,0,0

Unfortunately, it seems like these categorical variables have many possibilities, so performing one-hot encoding on these columns may create too many columns to be feasible. We will have to find other ways to deal with these columns, as we believe that the job title will play a strong role in predicting salary.

With that being said, let's handle the lower-cardinal categorical features with one-hot encoding. Note that we ignore salary_currency as we do not think it will be predictive given we have the salary_in_usd column.

In [7]:
low_card_cat_features = [
    'experience_level',  # EN, MI, SE, EX
    'employment_type',   # FT, PT, CT, FL
    'company_size',     # S, M, L
]
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), low_card_cat_features)
    ],
    remainder='passthrough'
)

X_processed = preprocessor.fit_transform(standardized_df)


cat_encoder = preprocessor.named_transformers_['cat']
feature_names = cat_encoder.get_feature_names_out(low_card_cat_features)

all_feature_names = list(feature_names) + [
    col for col in standardized_df.columns 
    if col not in low_card_cat_features
]

processed_df = pd.DataFrame(X_processed, columns=all_feature_names)
processed_df

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,company_size_L,company_size_M,...,salary_in_usd,remote_ratio,job_title,salary_currency,employee_residence,company_location,is_manager,is_remote,is_hybrid,same_country
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,-0.42618,-1.710815,Data Scientist,EUR,DE,DE,0,0,0,1
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2.06863,-1.710815,Machine Learning Scientist,USD,JP,JP,0,0,0,1
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,-0.021966,-0.487257,Big Data Engineer,GBP,GB,GB,0,0,1,1
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-1.254701,-1.710815,Product Data Analyst,USD,HN,HN,0,0,0,1
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.545437,-0.487257,Machine Learning Engineer,USD,US,US,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.600826,0.7363,Data Engineer,USD,US,US,0,1,0,1
561,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.213104,0.7363,Data Engineer,USD,US,US,0,1,0,1
562,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.254645,-1.710815,Data Analyst,USD,US,US,0,0,0,1
563,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.545437,0.7363,Data Analyst,USD,US,US,0,1,0,1
564,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.237797,0.7363,AI Scientist,USD,IN,US,0,1,0,0

## <span style="color:red"> we need to figure out how we'll handle the job_title and employee_residence columns </span>

**job_title:** this feaure seems like it will be important, as we suspect samples with the same/similar job title to have more similar salaries.

**employee_residence:** this feature seems important, because salary often relates to cost of living (ie: the same position at the same company will pay different amounts depending on which US city it is located in).

## <span style="color:limegreen"> *for now, let's see what happens in we use label encoding* </span>

In [8]:
# label_encoder = LabelEncoder()

# label_df = processed_df.copy()
# label_df['job_title']= label_encoder.fit_transform(label_df['job_title'])
# # label_df['employee_residence']=label_encoder.fit_transform(label_df['employee_residence'])

## <span style="color:limegreen"> *okay lets try "Bag of Words" encoding job descriptions* </span>

In [9]:
processed_df["job_title_clean"] = processed_df["job_title"].str.lower().apply(lambda x: re.sub(r'[^\w\s]', '', x))

unique_words = (processed_df['job_title_clean']
                .str.split()  # Split into words (by whitespace)
                .explode()    # Create one row per word
                .unique()    # Get unique values
                .tolist())
print(unique_words)
print("---")
print(len(unique_words))

['data', 'scientist', 'machine', 'learning', 'big', 'engineer', 'product', 'analyst', 'lead', 'business', 'science', 'consultant', 'bi', 'director', 'of', 'research', 'manager', 'engineering', 'infrastructure', 'ml', 'ai', 'computer', 'vision', 'principal', 'head', '3d', 'researcher', 'analytics', 'applied', 'marketing', 'cloud', 'financial', 'software', 'developer', 'specialist', 'architect', 'finance', 'staff', 'etl', 'nlp']
---
40

It seems like there are still a lot of possible words in the job titles. Let's normalize a couple ("ml" -> "machine" and "learning", "computer" and "vision" -> "computer_vision"

Then we will apply BoW encoding for the top 20 title-words.

In [10]:
import pandas as pd
from collections import Counter
from nltk.corpus import stopwords
import re
import nltk

nltk.download('stopwords')

def normalize_terms(text):
    """
    Replace specific terms/phrases before tokenization.
    """
    # Convert "ml" to "machine learning" (case-insensitive)
    text = re.sub(r'\bml\b', 'machine learning', text, flags=re.IGNORECASE)
    
    # Combine "computer vision" as one term (handle with/without hyphen/space)
    text = re.sub(r'\bcomputer[-\s]?vision\b', 'computer_vision', text, flags=re.IGNORECASE)
    return text

def get_word_frequency_df(df, column_name, min_count=0, custom_stopwords=None):
    """
    Create a DataFrame of word frequencies with term normalization.
    """
    # Combine all text, normalize terms, and lowercase
    all_text = ' '.join(df[column_name].dropna().astype(str))
    all_text = normalize_terms(all_text).lower()
    
    # Tokenize words (hyphen/underscore-aware)
    words = re.findall(r'\b[a-z_]+(?:\-[a-z_]+)*\b', all_text)  # Matches hyphenated/underscore terms
    
    # Get stopwords and add custom ones
    stop_words = set(stopwords.words('english'))
    if custom_stopwords:
        stop_words.update([w.lower() for w in custom_stopwords])
    
    # Count word frequencies
    word_counts = Counter(words)
    
    # Filter words
    filtered_counts = {
        word: count for word, count in word_counts.items() 
        if word not in stop_words and count > min_count
    }
    
    # Create DataFrame
    word_df = (pd.DataFrame.from_dict(filtered_counts, orient='index', columns=['count'])
               .reset_index()
               .rename(columns={'index': 'word'})
               .sort_values('count', ascending=False))
    
    return word_df

word_freq_df = get_word_frequency_df(processed_df, 'job_title')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/abigailalpert/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
top_20_words = word_freq_df.head(20)['word'].tolist()


def bow_encode(title, word_list):
    title = title.lower()
    features = {}
    for word in word_list:
        # Handle underscores (e.g., "machine_learning" â†’ "machine learning")
        search_term = word.replace('_', ' ')
        features[f"bow_{word}"] = 1 if re.search(rf'\b{search_term}\b', title) else 0
    return features

# Apply to each job title and create a DataFrame
bow_features = processed_df['job_title'].apply(lambda x: bow_encode(x, top_20_words)).apply(pd.Series)

new_df = pd.concat([processed_df, bow_features], axis=1)

In [12]:
new_df

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,company_size_L,company_size_M,...,bow_lead,bow_principal,bow_architect,bow_computer_vision,bow_head,bow_director,bow_big,bow_applied,bow_ai,bow_engineering
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,1,0,0,0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
561,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
562,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
563,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
564,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,1,0

## <span style="color:limegreen"> *lets try target encoding for the employee_residence column* </span>

In [13]:
new_df['salary_in_usd'] = pd.to_numeric(new_df['salary_in_usd'])
mean_employee_residence = new_df.groupby('employee_residence')['salary_in_usd'].mean().to_dict()
new_df['employee_residence_mean_sal'] = new_df['employee_residence'].map(mean_employee_residence)

In [14]:

new_df = new_df.drop(columns=['job_title', 'job_title_clean','salary_currency', 'employee_residence', 'company_location'])

for col in new_df.select_dtypes(include=['object']).columns:
    new_df[col] = pd.to_numeric(new_df[col], errors='raise').astype(int)

The last this to do before model building is to split the features from the target variable. As mentioned earlier, our target will be "salary_in_usd".

In [15]:
target = 'salary_in_usd'
features = [col for col in new_df.columns if col not in target]

# X = label_df[features]
# y = label_df['salary_in_usd']

X = new_df[features]
y = new_df['salary_in_usd']

# Model Building

We are going to fit our model using gradient descent, so let's start by implmenting a multivariate linear GD algorithm with MSE as the loss function

### Vanilla GD

In [16]:
def gradient_descent(grd_func, gamma, w0, N, tol=1e-05):
    '''This function performs N-many iterations of gradient descent
    
    Args:
        grd_func: the gradient of the function to minimize
        gamma: the stepsize
        w0: the starting x value/vector
        N: the maximum number of iterations
        (*) tol: the convergence tolerance

    Output:
        w: the final weight vector
    '''

    w = w0 # initialize w
    
    for n in range(N): # perform gradient descent N many times
        grad = grd_func(w)

        if np.linalg.norm(grad) < tol: # check if the function has converged (and return early if so)
            print(f"Converged!\nIteration: {n}")
            return w

        x_new = w - gamma*grad # gradient update rule
        w = x_new #update w

    print(f"Did not converge...\n Final Result: {w}")
    return w

For now, we are using vanilla GD (ie a constant stepsize), although we might want to consider updating this if convergence takes too long... Let's see how it works

In [17]:
# Until we figure out a way to encode job_title, salary_currency, employee_residence, and company_location, we will drop those columns...
# cols_to_drop = ['job_title', 'salary_currency', 'employee_residence', 'company_location']

# X_subset = X.drop(columns=cols_to_drop)

#did this above
X_subset = X

In [18]:
X_subset.dtypes

experience_level_EN              int64
experience_level_EX              int64
experience_level_MI              int64
experience_level_SE              int64
employment_type_CT               int64
employment_type_FL               int64
employment_type_FT               int64
employment_type_PT               int64
company_size_L                   int64
company_size_M                   int64
company_size_S                   int64
work_year                        int64
remote_ratio                     int64
is_manager                       int64
is_remote                        int64
is_hybrid                        int64
same_country                     int64
bow_data                         int64
bow_engineer                     int64
bow_scientist                    int64
bow_analyst                      int64
bow_machine                      int64
bow_learning                     int64
bow_science                      int64
bow_manager                      int64
bow_research                     int64
bow_analytics                    int64
bow_lead                         int64
bow_principal                    int64
bow_architect                    int64
bow_computer_vision              int64
bow_head                         int64
bow_director                     int64
bow_big                          int64
bow_applied                      int64
bow_ai                           int64
bow_engineering                  int64
employee_residence_mean_sal    float64
dtype: object

In [19]:
def f_linear(X, w, b):
    return w.T @ X + b
X_aug = np.hstack([X_subset, np.ones((X_subset.shape[0], 1))]) # adding a column for the bias term

def grad_mse_linear(w_aug):
    n = X_aug.shape[0]
    return (2/n) * X_aug.T @ (X_aug @ w_aug - y)

w0_aug = np.ones(X_aug.shape[1])

# Run gradient descent
w_star_aug = gradient_descent(grad_mse_linear, gamma=0.01, w0=w0_aug, N=1000000)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Converged!
Iteration: 132348
w_star: [-0.01431125  1.39356277  0.25440476  0.51739099  0.93872302  0.17136581
  0.56192311  0.47903533  0.50611428  0.37411981  0.27081318 -0.16929021
  0.25517462 -0.51940691 -0.22851658 -0.36526153 -0.06705932 -0.0838587
 -0.15470847 -0.11831043 -0.5110981   0.05512339  0.05512339 -0.0719242
  0.47456315  0.28435539 -0.10109246  0.87662949  1.17818016  0.3435191
 -0.1313245   0.274689    0.85471146 -0.08023009  0.75363024  0.21957198
 -0.2624812   0.88981468]
b_star: -0.8489527275052151

In [ ]:
lm_vanilla_preds = f_linear(X_aug, w_star, b_star)
lm_vanilla_mse = mean_squared_error(y, lm_vanilla_preds)
print(lm_vanilla_mse)

Using vanilla GD is taking too long to converge. Thus, we should update the algorithm

<span style="color:red"> perhaps this is another thing to talk to Ben about. Is there standard practice for picking which gradient method to use?</span>

### SGD (mini-batch)

In [29]:
def stochastic_gd(grd_func, gamma, w0, X, y, N, batch_size, tol=1e-5):
    '''This function performs N-many iterations of stochastic gradient descent (SGD) for a model.
    
    Args:
        grd_func: the gradient of the function to minimize
        gamma: the stepsize
        w0: the starting weight vector
        X: the input data (Pandas DataFrame)
        y: the output data (numpy array)
        N: maximum number of iterations
        batch_size: size of mini-batch for each SGD update
        (*) tol: convergence tolerance

    Output:
        w: final weight vector after training
    '''
    n = X.shape[0]  # number of samples
    w = w0  # initialize weight vector

    for i in range(N):
        # Shuffle data
        indices = np.random.permutation(n)
        X_shuffled = X[indices,:]
        y_shuffled = y[indices]

        for j in range(0, n, batch_size):
            X_batch = X_shuffled[j:j + batch_size,:]
            y_batch = y_shuffled[j:j + batch_size]

            # Compute gradients using the user-defined gradient function
            grad = grd_func(w, X_batch, y_batch)

            # Update weights using the gradient and learning rate
            w_new = w - gamma * grad
            w = w_new

            # Convergence check (optional early stopping)
            if np.linalg.norm(grad) < tol:
                print(f"Converged!\nEpoch: {i}")
                return w

    print(f"Did not converge...\nFinal Result: {w}")
    return w

In [30]:
def sgd_grad_linear_mse(w, X_batch, y_batch):
    X_aug = np.hstack([X_batch, np.ones((X_batch.shape[0], 1))])  # Adding bias as the last column
    n = len(X_aug)
        
    y_pred = X_aug @ w
    error = y_batch - y_pred
    
    return -(2/n) * X_aug.T @ error  # gradient with respect to w (including bias)

w0_aug = np.ones(X_aug.shape[1]+1)

w_star_aug = stochastic_gd(sgd_grad_linear_mse, gamma=0.01, w0=w0_aug, X=X_aug, y=y, N=1000000, batch_size=25)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Did not converge...
Final Result: [ 0.05191746  1.46051672  0.32319508  0.58392994  1.00395389  0.2380059
  0.63196069  0.54563871  0.59506344  0.46525275  0.35924302 -0.17610567
  0.16189923 -0.52031464 -0.14129915 -0.27724241 -0.06715273 -0.08697343
 -0.15578915 -0.11702758 -0.51296598  0.05132295  0.05132295 -0.0707373
  0.47288346  0.29018068 -0.09789151  0.88006374  1.17698121  0.34308375
 -0.13381115  0.27364956  0.85308859 -0.08100107  0.75310509  0.22312032
 -0.26208908  0.89010876 -0.5804408  -0.5804408 ]
w_star: [ 0.05191746  1.46051672  0.32319508  0.58392994  1.00395389  0.2380059
  0.63196069  0.54563871  0.59506344  0.46525275  0.35924302 -0.17610567
  0.16189923 -0.52031464 -0.14129915 -0.27724241 -0.06715273 -0.08697343
 -0.15578915 -0.11702758 -0.51296598  0.05132295  0.05132295 -0.0707373
  0.47288346  0.29018068 -0.09789151  0.88006374  1.17698121  0.34308375
 -0.13381115  0.27364956  0.85308859 -0.08100107  0.75310509  0.22312032
 -0.26208908  0.89010876 -0.5804408 ]
b_star: -0.5804407964218179

### AGM

In [22]:
def accelerated_gd(grd_func, gamma, w0, N, momentum=0.9, tol=1e-05):
    '''This function performs N-many iterations of momentum-based gradient descent
    
    Args:
        grd_func: the gradient of the function to minimize
        gamma: the stepsize
        w0: the starting x value/vector
        N: the maximum number of iterations
        (*) momentum: the momentum parameter (usually between 0 and 1)
        (*) tol: the convergence tolerance

    Output:
        w: the final weight vector
    '''

    w = w0
    v = np.zeros_like(w0)  # initialize velocity (same shape as w0)
    
    for n in range(N):
        grad = grd_func(w)

        if np.linalg.norm(grad) < tol:
            print(f"Converged!\nIteration: {n}")
            return w

        v = momentum * v - gamma * grad
        w = w + v 

    print(f"Did not converge...\n Final Result: {w}")
    return w

In [23]:
def f_linear(X, w, b):
    return w.T @ X + b

X_aug = np.hstack([X_subset, np.ones((X_subset.shape[0], 1))]) # adding a column for the bias term

def grad_mse_linear(w_aug):
    n = X_aug.shape[0]
    return (2/n) * X_aug.T @ (X_aug @ w_aug - y)

w0_aug = np.ones(X_aug.shape[1])

# Run gradient descent
w_star_aug = accelerated_gd(grad_mse_linear, gamma=0.01, w0=w0_aug, N=100000)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Converged!
Iteration: 13176
w_star: [-0.01431122  1.39356285  0.25440479  0.51739103  0.93872312  0.17136587
  0.56192314  0.47903531  0.50611434  0.37411987  0.27081324 -0.16929021
  0.25517456 -0.51940712 -0.22851653 -0.36526147 -0.06705932 -0.08385855
 -0.15470895 -0.11831094 -0.51109861  0.05512345  0.05512345 -0.07192446
  0.47456307  0.28435558 -0.10109257  0.87662969  1.17818014  0.34351852
 -0.13132437  0.27468874  0.85471139 -0.0802301   0.75363027  0.21957225
 -0.26248149  0.88981469]
b_star: -0.8489525557829265

# Polynomial Model

Let's start with finding the best degree.

In [24]:
import numpy as np

def create_quadratic_features(X):
    """
    Args:
        X: Input matrix (n_samples, n_features) as either numpy array or pandas DataFrame
    
    Returns:
        X_quad: Quadratic features matrix with:
                [X, XÂ², X_i*X_j interactions]
    """
    # Convert to numpy array if it's a DataFrame
    if hasattr(X, 'values'):
        X = X.values
    
    n_samples, n_features = X.shape
    interactions = []
    
    # Create interaction terms
    for i in range(n_features):
        for j in range(i, n_features):  # Upper triangle to avoid duplicates
            interactions.append(X[:, i] * X[:, j])
    
    # Stack all features
    X_quad = np.column_stack([
        X,                          # Original features
        X**2,                       # Squared terms
        np.column_stack(interactions)  # Interaction terms
    ])
    return X_quad

# Generate quadratic features (works with both DataFrames and arrays)
X_quad = create_quadratic_features(X_subset)

# Rest of your code remains the same...
X_quad_aug = np.hstack([X_quad, np.ones((X_quad.shape[0], 1))])

def grad_mse_quadratic(w_aug):
    n = X_quad_aug.shape[0]
    return (2/n) * X_quad_aug.T @ (X_quad_aug @ w_aug - y)

w0_aug = np.ones(X_quad_aug.shape[1])

# Run gradient descent with smaller learning rate
w_star_aug = gradient_descent(grad_mse_quadratic, gamma=0.0001, w0=w0_aug, N=100000)

# Extract and print weights
n_original = X_subset.shape[1] if hasattr(X_subset, 'shape') else len(X_subset.columns)
n_terms = n_original + n_original + (n_original*(n_original+1))//2

linear_weights = w_star_aug[:n_original]
squared_weights = w_star_aug[n_original:2*n_original]
interaction_weights = w_star_aug[2*n_original:-1]
bias = w_star_aug[-1]

print("Quadratic Model Parameters:")
print(f"Linear terms: {linear_weights}")
print(f"Squared terms: {squared_weights}")
print(f"Interaction terms: {interaction_weights}")
print(f"Bias term: {bias}")

Did not converge...
 Final Result: [-0.04776501  0.27461741  0.03401514  0.06615617  0.19623075  0.39066458
 -0.45141531  0.19154369 -0.16475497 -0.3028599  -0.20536142  0.25468431
  0.60192932 -0.93190111 -1.18989223 -0.88115474 -0.87157658 -0.34850859
 -0.01352051 -0.2312136   0.31239765 -0.12685403 -0.12685403  0.22280638
  0.42348529  0.43184927  0.19334839  0.35259797 -0.05441089  0.54483289
  0.29375851  0.71521384  0.57680179  0.10496397  0.00391912  0.56328731
  0.44331365 -0.05948995 -0.04776501  0.27461741  0.03401514  0.06615617
  0.19623075  0.39066458 -0.45141531  0.19154369 -0.16475497 -0.3028599
 -0.20536142  1.74531569  1.39807068 -0.93190111 -1.18989223 -0.88115474
 -0.87157658 -0.34850859 -0.01352051 -0.2312136   0.31239765 -0.12685403
 -0.12685403  0.22280638  0.42348529  0.43184927  0.19334839  0.35259797
 -0.05441089  0.54483289  0.29375851  0.71521384  0.57680179  0.10496397
  0.00391912  0.56328731  0.44331365  0.03174204 -0.04776501  1.
  1.          1.          0.67117852  1.          0.81624869  0.46480778
  0.67841075  0.61748618  0.65633806  0.96627694  1.18128857  1.
  0.42775147  0.70577209  0.46437463  0.82596049  0.54048746  0.47558645
  0.68712678  0.74758966  0.74758966  1.15161805  1.          0.82672232
  0.93796035  1.          1.          1.          0.66442191  1.
  1.          0.67807834  0.76772161  0.72211694  1.          0.56252307
  0.27461741  1.          1.          0.76572078  1.          0.50889663
  1.          0.97909366  0.58337136  0.71215239  0.99537254  0.95791636
  0.40663173  0.56541912  0.66711464  0.254138    0.53496439  0.9847832
  0.76572078  1.00222416  0.8941701   0.8941701   0.57164528  0.95736373
  1.          0.84548292  0.91558704  0.82085837  1.          1.
  0.70272778  0.83095318  1.          1.          1.          0.95736373
  0.97699389  0.03401514  1.          0.95753293  0.59616902  0.75357728
  0.72673591  0.44706331  0.90387503  0.6830768   0.58184895  1.00315647
  0.64786295  0.43612991  0.60104169  0.70132779  0.48945531  0.80743535
  0.50633463  0.74734027  0.53972817  0.53972817  0.71032608  0.84149112
  0.86431515  0.80397631  0.85761082  0.73173273  0.871343    0.9126591
  0.948761    1.          0.75157026  0.44660322  0.91763964  0.95186367
  0.60415342  0.06615617  0.80179852  0.79449556  0.46986209  1.
  0.73067729  0.59240754  0.74307134  0.71118588  0.45956793  0.01360421
  0.38080726  0.14491684  0.708583    0.80111122  0.65377347  1.02114454
  0.87570644  0.69165804  0.69165804  0.78921696  0.62463043  0.74081179
  0.60592882  0.57940011  0.39299801  0.67348989  0.7166775   1.06372506
  0.74584861  0.67531537  0.7895943   0.92353074  0.53408624  0.79683966
  0.19623075  1.          1.          1.          0.82354977  0.6069602
  0.76572078  1.13398316  1.          1.          0.19623075  1.
  0.39106907  0.43353614  0.95753293  0.37268098  0.86601684  0.80516168
  0.80516168  1.          1.          1.          1.          1.
  0.76572078  1.          1.          1.          1.          1.
  0.80516168  1.          1.          0.87949165  0.39066458  1.
  1.          0.87649083  0.71967819  0.79449556  1.20550444  1.12350917
  1.          0.63483814  0.87933562  0.87933562  0.71683341  0.67098639
  0.71967819  1.          0.87933562  0.87933562  1.          1.
  1.          1.          1.          1.          1.          0.79449556
  1.          1.          1.          1.          1.          1.
  1.26624572 -0.45141531  1.          0.38405964  0.6780016   0.48652345
 -0.08288755  0.47842015 -0.93190111  0.26768576 -0.24068092  0.44638062
  0.99534912  0.67654114  1.03605452  0.55221999  0.18864868  0.18864868
  0.22280638  0.42348529  0.43184927  0.19334839  0.35259797  0.17986833
  0.54483289  0.62404129  0.71521384  0.57680179  0.10496397  0.19875745
  0.78338173  0.44331365 -0.75088381  0.19154369  0.75114479  0.69250011
  0.74789879  0.99808426  1.          1.          0.71135312  0.48019057
  0.41163811  0.50577274  0.68141904  0.64037271  0.89416082  1.
  1.          1.          1.          1.          1.          1.
  1.          1.          0.87522166  1.          1.          1.
  1.          0.77990558  1.          1.54565649 -0.16475497  1.
  1.          0.54153915  0.780143    0.40319757  0.24337261  0.37201542
  0.47658929  0.60598523  0.60776075  0.48598167  0.8827117   0.5658707
  0.5658707   0.77421802  0.745871    0.58103822  0.68679918  0.79600963
  0.68293905  0.871343    1.          1.09307639  0.76824054  0.61284394
  0.24751444  0.95785289  0.59455627  0.55882528 -0.3028599   1.
  0.71214728  0.69057774  0.09351155  0.18480416  0.20291368  0.30659283
  0.65098373  0.95582559  0.67444365  0.74338915  0.59300148  0.59300148
  0.46690563  0.72575062  0.95260771  0.50654921  0.9039369   0.64281092
  0.67348989  0.68829491  0.67337645  0.79044757  0.56739946  0.75640468
  0.81687055  0.8968937   0.77900612 -0.20536142  1.00099788  1.13120858
  0.57138977  0.38193099  0.54391616  0.34524131  0.39452245  0.42289315
  0.60836109  0.6862968   0.71427378  0.71427378  0.98168274  0.95186367
  0.89820333  1.          0.65265144  0.61983914  1.          0.6054636
  0.948761    1.01811367  0.92472057  1.          0.78856387  0.95186367
  0.60267864  1.74531569  0.92864281  0.95271119  0.45465701  0.72867012
  0.09453423  0.45393355  0.82399478  0.5301038   1.1384253   0.6787372
  0.6787372   0.71210506  0.92822599  0.93382015  1.          1.07174892
  1.01246219  1.          1.20550444  1.          0.95273628  1.23743242
  1.          1.01333269  1.0907726   0.72089459  1.39807068  0.93885692
  1.          1.          0.38229946  0.79767921  1.03148883  0.87185709
  0.97232977  0.77067522  0.77067522  0.88754789  0.88582822  0.97516639
  1.02911698  1.01586211  1.04913171  1.          1.09162477  1.11167133
  0.92549525  1.16835414  1.03744007  1.11668251  1.0063158   0.49444994
 -0.93190111 -0.43209413  0.43904994 -0.52485405 -0.77247807  0.62539422
  0.963247    0.73065963  0.84057696  0.84057696  0.37364188  0.42348529
  1.          0.78839508  0.35259797  1.          1.          1.
  0.71521384  0.57680179  1.          1.          1.          0.44331365
  0.5381588  -1.18989223  1.         -0.06943481  0.33433378  0.51865734
  0.37683425  0.56028266  0.3523878   0.3523878   0.39682643  0.29607342
  0.76672134  0.22246537  0.65240115 -0.00527919  0.77663257  0.51016162
  0.89111058  0.72832072  0.70591865  0.3024088   0.69330252  0.49226571
 -0.12427705 -0.88115474 -0.4198423   0.11483684  0.49931098  0.26380925
  0.72444476  0.29143339  0.29143339  0.71352784  1.01324009  0.64029432
  1.          0.71605893  1.          0.76820032  0.87522166  0.93577459
  0.77397632  0.56739946  0.73895039  0.98666731  0.95736373  0.55923704
 -0.87157658  0.45938968  0.76806366  0.6901144   0.26676404  0.25054488
  0.25054488  0.43912792  0.51530199  0.52181194  0.25875444  0.58467931
 -0.05441089  0.54483289  0.58967015  0.75168492  0.62347973  0.33361976
  0.47909125  0.79351553  0.44331365 -0.55884859 -0.34850859  0.93154592
  1.58120882  0.31239765  1.          1.          0.22280638  0.38276805
  1.          0.34025977  0.44690835 -0.05441089  0.54483289  1.
  0.82104374  0.57680179  0.10496397  0.4846146   1.          0.44331365
  0.15406101 -0.01352051  1.          1.          0.36556804  0.36556804
  0.60759965  1.          1.          0.40495331  0.62539422  0.825272
  1.          0.31816739  1.          1.          0.33676365  1.
  1.          1.          0.87760355 -0.2312136   1.          0.192441
  0.192441    1.          1.          0.43184927  1.          0.963247
  0.39629155  1.          1.          1.          1.          1.
  0.00391912  0.56328731  1.          0.87570007  0.31239765  1.
  1.          1.          1.          1.          1.          0.73065963
  0.72402556  1.          1.          1.          1.          1.
  1.          1.          1.          0.8048433  -0.12685403 -0.12685403
  1.          1.04071724  1.          1.          0.90568962  1.
  1.          1.          0.8941701   1.          1.          0.51930452
  1.          1.          0.57433792 -0.12685403  1.          1.04071724
  1.          1.          0.90568962  1.          1.          1.
  0.8941701   1.          1.          0.51930452  1.          1.
  0.57433792  0.22280638  0.91209139  1.          1.          1.
  1.          1.          1.          0.61248364  0.84906685  1.
  1.          1.          1.          0.95424583  0.42348529  1.
  0.75509795  1.          1.          1.          1.          1.
  1.          1.          1.          1.          0.71557871  0.7290668
  0.43184927  1.          1.          1.          1.          1.
  1.          1.          1.          1.          1.          1.
  1.09653292  0.19334839  1.03329713  1.          1.          1.
  1.          1.          1.          1.          1.          1.
  0.88414748  0.35259797  1.          1.          1.          1.
  1.          1.          1.          1.          1.          0.97719499
 -0.05441089  1.          1.          1.          1.          1.
  1.          1.          1.          0.6292703   0.54483289  1.
  1.          1.          0.76820032  1.          1.          1.
  0.91749561  0.29375851  1.          1.          1.          1.
  1.          1.          1.15007845  0.71521384  1.          1.
  1.          1.          1.          0.77309922  0.57680179  1.
  1.          1.          0.72773494  1.05879779  0.10496397  1.
  1.          1.          1.41735813  0.00391912  1.          1.
  1.11982444  0.56328731  1.          1.21176774  0.44331365  0.89138627
  0.03174204 -2.67297629]
Quadratic Model Parameters:
Linear terms: [-0.04776501  0.27461741  0.03401514  0.06615617  0.19623075  0.39066458
 -0.45141531  0.19154369 -0.16475497 -0.3028599  -0.20536142  0.25468431
  0.60192932 -0.93190111 -1.18989223 -0.88115474 -0.87157658 -0.34850859
 -0.01352051 -0.2312136   0.31239765 -0.12685403 -0.12685403  0.22280638
  0.42348529  0.43184927  0.19334839  0.35259797 -0.05441089  0.54483289
  0.29375851  0.71521384  0.57680179  0.10496397  0.00391912  0.56328731
  0.44331365 -0.05948995]
Squared terms: [-0.04776501  0.27461741  0.03401514  0.06615617  0.19623075  0.39066458
 -0.45141531  0.19154369 -0.16475497 -0.3028599  -0.20536142  1.74531569
  1.39807068 -0.93190111 -1.18989223 -0.88115474 -0.87157658 -0.34850859
 -0.01352051 -0.2312136   0.31239765 -0.12685403 -0.12685403  0.22280638
  0.42348529  0.43184927  0.19334839  0.35259797 -0.05441089  0.54483289
  0.29375851  0.71521384  0.57680179  0.10496397  0.00391912  0.56328731
  0.44331365  0.03174204]
Interaction terms: [-0.04776501  1.          1.          1.          0.67117852  1.
  0.81624869  0.46480778  0.67841075  0.61748618  0.65633806  0.96627694
  1.18128857  1.          0.42775147  0.70577209  0.46437463  0.82596049
  0.54048746  0.47558645  0.68712678  0.74758966  0.74758966  1.15161805
  1.          0.82672232  0.93796035  1.          1.          1.
  0.66442191  1.          1.          0.67807834  0.76772161  0.72211694
  1.          0.56252307  0.27461741  1.          1.          0.76572078
  1.          0.50889663  1.          0.97909366  0.58337136  0.71215239
  0.99537254  0.95791636  0.40663173  0.56541912  0.66711464  0.254138
  0.53496439  0.9847832   0.76572078  1.00222416  0.8941701   0.8941701
  0.57164528  0.95736373  1.          0.84548292  0.91558704  0.82085837
  1.          1.          0.70272778  0.83095318  1.          1.
  1.          0.95736373  0.97699389  0.03401514  1.          0.95753293
  0.59616902  0.75357728  0.72673591  0.44706331  0.90387503  0.6830768
  0.58184895  1.00315647  0.64786295  0.43612991  0.60104169  0.70132779
  0.48945531  0.80743535  0.50633463  0.74734027  0.53972817  0.53972817
  0.71032608  0.84149112  0.86431515  0.80397631  0.85761082  0.73173273
  0.871343    0.9126591   0.948761    1.          0.75157026  0.44660322
  0.91763964  0.95186367  0.60415342  0.06615617  0.80179852  0.79449556
  0.46986209  1.          0.73067729  0.59240754  0.74307134  0.71118588
  0.45956793  0.01360421  0.38080726  0.14491684  0.708583    0.80111122
  0.65377347  1.02114454  0.87570644  0.69165804  0.69165804  0.78921696
  0.62463043  0.74081179  0.60592882  0.57940011  0.39299801  0.67348989
  0.7166775   1.06372506  0.74584861  0.67531537  0.7895943   0.92353074
  0.53408624  0.79683966  0.19623075  1.          1.          1.
  0.82354977  0.6069602   0.76572078  1.13398316  1.          1.
  0.19623075  1.          0.39106907  0.43353614  0.95753293  0.37268098
  0.86601684  0.80516168  0.80516168  1.          1.          1.
  1.          1.          0.76572078  1.          1.          1.
  1.          1.          0.80516168  1.          1.          0.87949165
  0.39066458  1.          1.          0.87649083  0.71967819  0.79449556
  1.20550444  1.12350917  1.          0.63483814  0.87933562  0.87933562
  0.71683341  0.67098639  0.71967819  1.          0.87933562  0.87933562
  1.          1.          1.          1.          1.          1.
  1.          0.79449556  1.          1.          1.          1.
  1.          1.          1.26624572 -0.45141531  1.          0.38405964
  0.6780016   0.48652345 -0.08288755  0.47842015 -0.93190111  0.26768576
 -0.24068092  0.44638062  0.99534912  0.67654114  1.03605452  0.55221999
  0.18864868  0.18864868  0.22280638  0.42348529  0.43184927  0.19334839
  0.35259797  0.17986833  0.54483289  0.62404129  0.71521384  0.57680179
  0.10496397  0.19875745  0.78338173  0.44331365 -0.75088381  0.19154369
  0.75114479  0.69250011  0.74789879  0.99808426  1.          1.
  0.71135312  0.48019057  0.41163811  0.50577274  0.68141904  0.64037271
  0.89416082  1.          1.          1.          1.          1.
  1.          1.          1.          1.          0.87522166  1.
  1.          1.          1.          0.77990558  1.          1.54565649
 -0.16475497  1.          1.          0.54153915  0.780143    0.40319757
  0.24337261  0.37201542  0.47658929  0.60598523  0.60776075  0.48598167
  0.8827117   0.5658707   0.5658707   0.77421802  0.745871    0.58103822
  0.68679918  0.79600963  0.68293905  0.871343    1.          1.09307639
  0.76824054  0.61284394  0.24751444  0.95785289  0.59455627  0.55882528
 -0.3028599   1.          0.71214728  0.69057774  0.09351155  0.18480416
  0.20291368  0.30659283  0.65098373  0.95582559  0.67444365  0.74338915
  0.59300148  0.59300148  0.46690563  0.72575062  0.95260771  0.50654921
  0.9039369   0.64281092  0.67348989  0.68829491  0.67337645  0.79044757
  0.56739946  0.75640468  0.81687055  0.8968937   0.77900612 -0.20536142
  1.00099788  1.13120858  0.57138977  0.38193099  0.54391616  0.34524131
  0.39452245  0.42289315  0.60836109  0.6862968   0.71427378  0.71427378
  0.98168274  0.95186367  0.89820333  1.          0.65265144  0.61983914
  1.          0.6054636   0.948761    1.01811367  0.92472057  1.
  0.78856387  0.95186367  0.60267864  1.74531569  0.92864281  0.95271119
  0.45465701  0.72867012  0.09453423  0.45393355  0.82399478  0.5301038
  1.1384253   0.6787372   0.6787372   0.71210506  0.92822599  0.93382015
  1.          1.07174892  1.01246219  1.          1.20550444  1.
  0.95273628  1.23743242  1.          1.01333269  1.0907726   0.72089459
  1.39807068  0.93885692  1.          1.          0.38229946  0.79767921
  1.03148883  0.87185709  0.97232977  0.77067522  0.77067522  0.88754789
  0.88582822  0.97516639  1.02911698  1.01586211  1.04913171  1.
  1.09162477  1.11167133  0.92549525  1.16835414  1.03744007  1.11668251
  1.0063158   0.49444994 -0.93190111 -0.43209413  0.43904994 -0.52485405
 -0.77247807  0.62539422  0.963247    0.73065963  0.84057696  0.84057696
  0.37364188  0.42348529  1.          0.78839508  0.35259797  1.
  1.          1.          0.71521384  0.57680179  1.          1.
  1.          0.44331365  0.5381588  -1.18989223  1.         -0.06943481
  0.33433378  0.51865734  0.37683425  0.56028266  0.3523878   0.3523878
  0.39682643  0.29607342  0.76672134  0.22246537  0.65240115 -0.00527919
  0.77663257  0.51016162  0.89111058  0.72832072  0.70591865  0.3024088
  0.69330252  0.49226571 -0.12427705 -0.88115474 -0.4198423   0.11483684
  0.49931098  0.26380925  0.72444476  0.29143339  0.29143339  0.71352784
  1.01324009  0.64029432  1.          0.71605893  1.          0.76820032
  0.87522166  0.93577459  0.77397632  0.56739946  0.73895039  0.98666731
  0.95736373  0.55923704 -0.87157658  0.45938968  0.76806366  0.6901144
  0.26676404  0.25054488  0.25054488  0.43912792  0.51530199  0.52181194
  0.25875444  0.58467931 -0.05441089  0.54483289  0.58967015  0.75168492
  0.62347973  0.33361976  0.47909125  0.79351553  0.44331365 -0.55884859
 -0.34850859  0.93154592  1.58120882  0.31239765  1.          1.
  0.22280638  0.38276805  1.          0.34025977  0.44690835 -0.05441089
  0.54483289  1.          0.82104374  0.57680179  0.10496397  0.4846146
  1.          0.44331365  0.15406101 -0.01352051  1.          1.
  0.36556804  0.36556804  0.60759965  1.          1.          0.40495331
  0.62539422  0.825272    1.          0.31816739  1.          1.
  0.33676365  1.          1.          1.          0.87760355 -0.2312136
  1.          0.192441    0.192441    1.          1.          0.43184927
  1.          0.963247    0.39629155  1.          1.          1.
  1.          1.          0.00391912  0.56328731  1.          0.87570007
  0.31239765  1.          1.          1.          1.          1.
  1.          0.73065963  0.72402556  1.          1.          1.
  1.          1.          1.          1.          1.          0.8048433
 -0.12685403 -0.12685403  1.          1.04071724  1.          1.
  0.90568962  1.          1.          1.          0.8941701   1.
  1.          0.51930452  1.          1.          0.57433792 -0.12685403
  1.          1.04071724  1.          1.          0.90568962  1.
  1.          1.          0.8941701   1.          1.          0.51930452
  1.          1.          0.57433792  0.22280638  0.91209139  1.
  1.          1.          1.          1.          1.          0.61248364
  0.84906685  1.          1.          1.          1.          0.95424583
  0.42348529  1.          0.75509795  1.          1.          1.
  1.          1.          1.          1.          1.          1.
  0.71557871  0.7290668   0.43184927  1.          1.          1.
  1.          1.          1.          1.          1.          1.
  1.          1.          1.09653292  0.19334839  1.03329713  1.
  1.          1.          1.          1.          1.          1.
  1.          1.          0.88414748  0.35259797  1.          1.
  1.          1.          1.          1.          1.          1.
  1.          0.97719499 -0.05441089  1.          1.          1.
  1.          1.          1.          1.          1.          0.6292703
  0.54483289  1.          1.          1.          0.76820032  1.
  1.          1.          0.91749561  0.29375851  1.          1.
  1.          1.          1.          1.          1.15007845  0.71521384
  1.          1.          1.          1.          1.          0.77309922
  0.57680179  1.          1.          1.          0.72773494  1.05879779
  0.10496397  1.          1.          1.          1.41735813  0.00391912
  1.          1.          1.11982444  0.56328731  1.          1.21176774
  0.44331365  0.89138627  0.03174204]
Bias term: -2.672976291809659