# ESE 415 Final Project - Analyzing Data Scientist Salaries

## By: Abigail Alpert and Kevin Yan

# Data exploration and preprocesing

### Dataset Columns
1. **work_year** : The year the salary was paid.

2. **experience_level** : The experience level in the job during the year

3. **employment_type** : The type of employment for the role

4. **job_title** : The role worked in during the year.

5. **salary** : The total gross salary amount paid.

6. **salary_currency** : The currency of the salary paid as an ISO 4217 currency code.

7. **salaryinusd** : The salary in USD

8. **employee_residence** : Employee's primary country of residence in during the work year as an ISO 3166 country code.

9. **remote_ratio** : The overall amount of work done remotely

10. **company_location** : The country of the employer's main office or contracting branch

11. **company_size** : The median number of people that worked for the company during the year

In [1]:
import pandas as pd
import numpy as np
import re

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('ds_salaries.csv', index_col = 0)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

First off, basic data cleaning (dropping duplicates and NA's).

In [3]:
df = df.drop_duplicates()
df = df.dropna(subset=['salary_in_usd'])

Now let's create a couple flags/binary variables that could be useful for predictions

In [4]:
df['is_manager'] = df['job_title'].str.contains('Manager|Lead|Director|Head', case=False).astype(int)
df['is_remote'] = (df['remote_ratio'] == 100).astype(int)
df['is_hybrid'] = ((df['remote_ratio'] > 0) & (df['remote_ratio'] < 100)).astype(int)
df['same_country'] = (df['employee_residence'] == df['company_location']).astype(int)

In [5]:
print("Unique Job Titles:",len(df['job_title'].unique()))
print("Unique Employee Residences:",len(df['employee_residence'].unique()))
print("Unique Company Locations:",len(df['company_location'].unique()))

Unique Job Titles: 50
Unique Employee Residences: 57
Unique Company Locations: 50

## <span style="color:red"> Check if standardizing makes sense here. My concern is that it'll make our predictions hard to interpret </span>

Let's standardize the numerical features to help the model converge faster. The different numerical features have very different magnitudes which could cause issues during gradient descent.

In [6]:
num_cols = ['work_year', 'salary', 'salary_in_usd', 'remote_ratio']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_cols)
    ],
    remainder='passthrough'
)

X_standardized = preprocessor.fit_transform(df)

all_feature_names = list(num_cols) + [
    col for col in df.columns 
    if col not in num_cols
]

standardized_df = pd.DataFrame(X_standardized, columns=all_feature_names)

standardized_df

,work_year,salary,salary_in_usd,remote_ratio,experience_level,employment_type,job_title,salary_currency,employee_residence,company_location,company_size,is_manager,is_remote,is_hybrid,same_country
0,-1.956361,-0.167734,-0.426180,-1.710815,MI,FT,Data Scientist,EUR,DE,DE,L,0,0,0,1
1,-1.956361,-0.048869,2.068630,-1.710815,SE,FT,Machine Learning Scientist,USD,JP,JP,S,0,0,0,1
2,-1.956361,-0.158350,-0.021966,-0.487257,SE,FT,Big Data Engineer,GBP,GB,GB,M,0,0,1,1
3,-1.956361,-0.199014,-1.254701,-1.710815,MI,FT,Product Data Analyst,USD,HN,HN,S,0,0,0,1
4,-1.956361,-0.117686,0.545437,-0.487257,SE,FT,Machine Learning Engineer,USD,US,US,L,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,0.910939,-0.115183,0.600826,0.736300,SE,FT,Data Engineer,USD,US,US,M,0,1,0,1
561,0.910939,-0.132700,0.213104,0.736300,SE,FT,Data Engineer,USD,US,US,M,0,1,0,1
562,0.910939,-0.130823,0.254645,-1.710815,SE,FT,Data Analyst,USD,US,US,M,0,0,0,1
563,0.910939,-0.117686,0.545437,0.736300,SE,FT,Data Analyst,USD,US,US,M,0,1,0,1
564,0.910939,-0.086406,1.237797,0.736300,MI,FT,AI Scientist,USD,IN,US,L,0,1,0,0

Unfortunately, it seems like these categorical variables have many possibilities, so performing one-hot encoding on these columns may create too many columns to be feasible. We will have to find other ways to deal with these columns, as we believe that the job title will play a strong role in predicting salary.

With that being said, let's handle the lower-cardinal categorical features with one-hot encoding. Note that we ignore salary_currency as we do not think it will be predictive given we have the salary_in_usd column.

In [7]:
low_card_cat_features = [
    'experience_level',  # EN, MI, SE, EX
    'employment_type',   # FT, PT, CT, FL
    'company_size',     # S, M, L
]
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), low_card_cat_features)
    ],
    remainder='passthrough'
)

X_processed = preprocessor.fit_transform(standardized_df)


cat_encoder = preprocessor.named_transformers_['cat']
feature_names = cat_encoder.get_feature_names_out(low_card_cat_features)

all_feature_names = list(feature_names) + [
    col for col in standardized_df.columns 
    if col not in low_card_cat_features
]

processed_df = pd.DataFrame(X_processed, columns=all_feature_names)
processed_df

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,company_size_L,company_size_M,...,salary_in_usd,remote_ratio,job_title,salary_currency,employee_residence,company_location,is_manager,is_remote,is_hybrid,same_country
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,-0.426180,-1.710815,Data Scientist,EUR,DE,DE,0,0,0,1
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2.068630,-1.710815,Machine Learning Scientist,USD,JP,JP,0,0,0,1
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,-0.021966,-0.487257,Big Data Engineer,GBP,GB,GB,0,0,1,1
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,-1.254701,-1.710815,Product Data Analyst,USD,HN,HN,0,0,0,1
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.545437,-0.487257,Machine Learning Engineer,USD,US,US,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.600826,0.736300,Data Engineer,USD,US,US,0,1,0,1
561,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.213104,0.736300,Data Engineer,USD,US,US,0,1,0,1
562,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.254645,-1.710815,Data Analyst,USD,US,US,0,0,0,1
563,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.545437,0.736300,Data Analyst,USD,US,US,0,1,0,1
564,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.237797,0.736300,AI Scientist,USD,IN,US,0,1,0,0

## <span style="color:red"> we need to figure out how we'll handle the job_title and employee_residence columns </span>

**job_title:** this feaure seems like it will be important, as we suspect samples with the same/similar job title to have more similar salaries.

**employee_residence:** this feature seems important, because salary often relates to cost of living (ie: the same position at the same company will pay different amounts depending on which US city it is located in).

## <span style="color:limegreen"> *for now, let's see what happens in we use label encoding* </span>

In [8]:
# label_encoder = LabelEncoder()

# label_df = processed_df.copy()
# label_df['job_title']= label_encoder.fit_transform(label_df['job_title'])
# # label_df['employee_residence']=label_encoder.fit_transform(label_df['employee_residence'])

## <span style="color:limegreen"> *okay lets try "Bag of Words" encoding job descriptions* </span>

In [9]:
processed_df["job_title_clean"] = processed_df["job_title"].str.lower().apply(lambda x: re.sub(r'[^\w\s]', '', x))

unique_words = (processed_df['job_title_clean']
                .str.split()  # Split into words (by whitespace)
                .explode()    # Create one row per word
                .unique()    # Get unique values
                .tolist())
print(unique_words)
print("---")
print(len(unique_words))

['data', 'scientist', 'machine', 'learning', 'big', 'engineer', 'product', 'analyst', 'lead', 'business', 'science', 'consultant', 'bi', 'director', 'of', 'research', 'manager', 'engineering', 'infrastructure', 'ml', 'ai', 'computer', 'vision', 'principal', 'head', '3d', 'researcher', 'analytics', 'applied', 'marketing', 'cloud', 'financial', 'software', 'developer', 'specialist', 'architect', 'finance', 'staff', 'etl', 'nlp']
---
40

It seems like there are still a lot of possible words in the job titles. Let's normalize a couple ("ml" -> "machine" and "learning", "computer" and "vision" -> "computer_vision"

Then we will apply BoW encoding for the top 20 title-words.

In [10]:
import pandas as pd
from collections import Counter
from nltk.corpus import stopwords
import re
import nltk

nltk.download('stopwords')

def normalize_terms(text):
    """
    Replace specific terms/phrases before tokenization.
    """
    # Convert "ml" to "machine learning" (case-insensitive)
    text = re.sub(r'\bml\b', 'machine learning', text, flags=re.IGNORECASE)
    
    # Combine "computer vision" as one term (handle with/without hyphen/space)
    text = re.sub(r'\bcomputer[-\s]?vision\b', 'computer_vision', text, flags=re.IGNORECASE)
    return text

def get_word_frequency_df(df, column_name, min_count=0, custom_stopwords=None):
    """
    Create a DataFrame of word frequencies with term normalization.
    """
    # Combine all text, normalize terms, and lowercase
    all_text = ' '.join(df[column_name].dropna().astype(str))
    all_text = normalize_terms(all_text).lower()
    
    # Tokenize words (hyphen/underscore-aware)
    words = re.findall(r'\b[a-z_]+(?:\-[a-z_]+)*\b', all_text)  # Matches hyphenated/underscore terms
    
    # Get stopwords and add custom ones
    stop_words = set(stopwords.words('english'))
    if custom_stopwords:
        stop_words.update([w.lower() for w in custom_stopwords])
    
    # Count word frequencies
    word_counts = Counter(words)
    
    # Filter words
    filtered_counts = {
        word: count for word, count in word_counts.items() 
        if word not in stop_words and count > min_count
    }
    
    # Create DataFrame
    word_df = (pd.DataFrame.from_dict(filtered_counts, orient='index', columns=['count'])
               .reset_index()
               .rename(columns={'index': 'word'})
               .sort_values('count', ascending=False))
    
    return word_df

word_freq_df = get_word_frequency_df(processed_df, 'job_title')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kevinyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
top_20_words = word_freq_df.head(20)['word'].tolist()


def bow_encode(title, word_list):
    title = title.lower()
    features = {}
    for word in word_list:
        # Handle underscores (e.g., "machine_learning" → "machine learning")
        search_term = word.replace('_', ' ')
        features[f"bow_{word}"] = 1 if re.search(rf'\b{search_term}\b', title) else 0
    return features

# Apply to each job title and create a DataFrame
bow_features = processed_df['job_title'].apply(lambda x: bow_encode(x, top_20_words)).apply(pd.Series)

new_df = pd.concat([processed_df, bow_features], axis=1)

In [12]:
new_df

,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,employment_type_PT,company_size_L,company_size_M,...,bow_lead,bow_principal,bow_architect,bow_computer_vision,bow_head,bow_director,bow_big,bow_applied,bow_ai,bow_engineering
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,1,0,0,0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
561,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
562,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
563,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
564,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,1,0

## <span style="color:limegreen"> *lets try target encoding for the employee_residence column* </span>

In [13]:
new_df['salary_in_usd'] = pd.to_numeric(new_df['salary_in_usd'])
mean_employee_residence = new_df.groupby('employee_residence')['salary_in_usd'].mean().to_dict()
new_df['employee_residence_mean_sal'] = new_df['employee_residence'].map(mean_employee_residence)

In [14]:

new_df = new_df.drop(columns=['job_title', 'job_title_clean','salary_currency', 'employee_residence', 'company_location'])

for col in new_df.select_dtypes(include=['object']).columns:
    new_df[col] = pd.to_numeric(new_df[col], errors='raise').astype(int)

The last this to do before model building is to split the features from the target variable. As mentioned earlier, our target will be "salary_in_usd".

In [15]:
target = 'salary_in_usd'
features = [col for col in new_df.columns if col not in target]

# X = label_df[features]
# y = label_df['salary_in_usd']

X = new_df[features]
y = new_df['salary_in_usd']

# Model Building

We are going to fit our model using gradient descent, so let's start by implmenting a multivariate linear GD algorithm with MSE as the loss function

### Vanilla GD

In [16]:
def gradient_descent(grd_func, gamma, w0, N, tol=1e-05):
    '''This function performs N-many iterations of gradient descent
    
    Args:
        grd_func: the gradient of the function to minimize
        gamma: the stepsize
        w0: the starting x value/vector
        N: the maximum number of iterations
        (*) tol: the convergence tolerance

    Output:
        w: the final weight vector
    '''

    w = w0 # initialize w
    
    for n in range(N): # perform gradient descent N many times
        grad = grd_func(w)

        if np.linalg.norm(grad) < tol: # check if the function has converged (and return early if so)
            print(f"Converged!\nIteration: {n}")
            return w

        x_new = w - gamma*grad # gradient update rule
        w = x_new #update w

    print(f"Did not converge...\n Final Result: {w}")
    return w

For now, we are using vanilla GD (ie a constant stepsize), although we might want to consider updating this if convergence takes too long... Let's see how it works

In [44]:
# Until we figure out a way to encode job_title, salary_currency, employee_residence, and company_location, we will drop those columns...
# cols_to_drop = ['job_title', 'salary_currency', 'employee_residence', 'company_location']

# X_subset = X.drop(columns=cols_to_drop)

#did this above
X_subset = X

In [19]:
def f_linear(X, w, b):
    return w.T @ X + b
X_aug = np.hstack([X_subset, np.ones((X_subset.shape[0], 1))]) # adding a column for the bias term

def grad_mse_linear(w_aug):
    n = X_aug.shape[0]
    return (2/n) * X_aug.T @ (X_aug @ w_aug - y)

w0_aug = np.ones(X_aug.shape[1])

# Run gradient descent
w_star_aug = gradient_descent(grad_mse_linear, gamma=0.01, w0=w0_aug, N=1000000)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Converged!
Iteration: 132348
w_star: [-0.01431125  1.39356277  0.25440476  0.51739099  0.93872302  0.17136581
  0.56192311  0.47903533  0.50611428  0.37411981  0.27081318 -0.16929021
  0.25517462 -0.51940691 -0.22851658 -0.36526153 -0.06705932 -0.0838587
 -0.15470847 -0.11831043 -0.5110981   0.05512339  0.05512339 -0.0719242
  0.47456315  0.28435539 -0.10109246  0.87662949  1.17818016  0.3435191
 -0.1313245   0.274689    0.85471146 -0.08023009  0.75363024  0.21957198
 -0.2624812   0.88981468]
b_star: -0.8489527275052151

In [23]:
lm_vanilla_preds = f_linear(X.T, w_star, b_star)
lm_vanilla_mse = mean_squared_error(y, lm_vanilla_preds)
print(lm_vanilla_mse)

0.4079448381073953

Using vanilla GD is taking too long to converge. Thus, we should update the algorithm

<span style="color:red"> perhaps this is another thing to talk to Ben about. Is there standard practice for picking which gradient method to use?</span>

### SGD (mini-batch)

In [24]:
def stochastic_gd(grd_func, gamma, w0, X, y, N, batch_size, tol=1e-5):
    '''This function performs N-many iterations of stochastic gradient descent (SGD) for a model.
    
    Args:
        grd_func: the gradient of the function to minimize
        gamma: the stepsize
        w0: the starting weight vector
        X: the input data (Pandas DataFrame)
        y: the output data (numpy array)
        N: maximum number of iterations
        batch_size: size of mini-batch for each SGD update
        (*) tol: convergence tolerance

    Output:
        w: final weight vector after training
    '''
    
    n = X.shape[0]  # number of samples
    w = w0  # initialize weight vector

    for i in range(N):
        # Shuffle data
        indices = np.random.permutation(n)
        X_shuffled = X[indices,:]
        y_shuffled = y[indices]

        for j in range(0, n, batch_size):
            X_batch = X_shuffled[j:j + batch_size,:]
            y_batch = y_shuffled[j:j + batch_size]

            # Compute gradients using the user-defined gradient function
            grad = grd_func(w, X_batch, y_batch)

            # Update weights using the gradient and learning rate
            w_new = w - gamma * grad
            w = w_new

            # Convergence check (optional early stopping)
            if np.linalg.norm(grad) < tol:
                print(f"Converged!\nEpoch: {i}")
                return w

    print(f"Did not converge...\nFinal Result: {w}")
    return w

In [25]:
def sgd_grad_linear_mse(w, X_batch, y_batch):
    X_aug = np.hstack([X_batch, np.ones((X_batch.shape[0], 1))])  # Adding bias as the last column
    n = len(X_aug)
        
    y_pred = X_aug @ w
    error = y_batch - y_pred
    
    return -(2/n) * X_aug.T @ error  # gradient with respect to w (including bias)

w0_aug = np.ones(X_aug.shape[1]+1)

w_star_aug = stochastic_gd(sgd_grad_linear_mse, gamma=0.01, w0=w0_aug, X=X_aug, y=y, N=1000000, batch_size=25)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Did not converge...
Final Result: [ 0.05254135  1.45894025  0.32120613  0.58226144  1.0068457   0.23774841
  0.62307629  0.54727878  0.59452277  0.46201053  0.35841588 -0.16647227
  0.16565163 -0.52250376 -0.14272665 -0.27667254 -0.07118287 -0.08639668
 -0.15686853 -0.12263553 -0.51430096  0.05433994  0.05433994 -0.07232723
  0.47312157  0.2849159  -0.09804523  0.8784396   1.17775898  0.34219427
 -0.13047927  0.27372835  0.85220672 -0.08064097  0.75322178  0.22091028
 -0.26275401  0.88794092 -0.58505082 -0.58505082]
w_star: [ 0.05254135  1.45894025  0.32120613  0.58226144  1.0068457   0.23774841
  0.62307629  0.54727878  0.59452277  0.46201053  0.35841588 -0.16647227
  0.16565163 -0.52250376 -0.14272665 -0.27667254 -0.07118287 -0.08639668
 -0.15686853 -0.12263553 -0.51430096  0.05433994  0.05433994 -0.07232723
  0.47312157  0.2849159  -0.09804523  0.8784396   1.17775898  0.34219427
 -0.13047927  0.27372835  0.85220672 -0.08064097  0.75322178  0.22091028
 -0.26275401  0.88794092 -0.58505082]
b_star: -0.5850508205620837

In [36]:
w_star = np.array([0.05254135, 1.45894025, 0.32120613, 0.58226144, 1.0068457, 0.23774841, 0.62307629, 0.54727878, 0.59452277, 0.46201053, 0.35841588, -0.16647227,
          0.16565163, -0.52250376, -0.14272665, -0.27667254, -0.07118287, -0.08639668, -0.15686853, -0.12263553, -0.51430096,  0.05433994,  0.05433994,
          -0.07232723, 0.47312157, 0.2849159, -0.09804523, 0.8784396, 1.17775898, 0.34219427, -0.13047927, 0.27372835, 0.85220672, -0.08064097,
          0.75322178,  0.22091028, -0.26275401,  0.88794092])
b_star = -0.5850508205620837

lm_sgd_preds = f_linear(X.T, w_star, b_star)
lm_sgd_mse = mean_squared_error(y, lm_sgd_preds)
print(lm_sgd_mse)

0.7180236380805872

### AGM

In [27]:
def accelerated_gd(grd_func, gamma, w0, N, momentum=0.9, tol=1e-05):
    '''This function performs N-many iterations of momentum-based gradient descent
    
    Args:
        grd_func: the gradient of the function to minimize
        gamma: the stepsize
        w0: the starting x value/vector
        N: the maximum number of iterations
        (*) momentum: the momentum parameter (usually between 0 and 1)
        (*) tol: the convergence tolerance

    Output:
        w: the final weight vector
    '''

    w = w0
    v = np.zeros_like(w0)  # initialize velocity (same shape as w0)
    
    for n in range(N):
        grad = grd_func(w)

        if np.linalg.norm(grad) < tol:
            print(f"Converged!\nIteration: {n}")
            return w

        v = momentum * v - gamma * grad
        w = w + v 

    print(f"Did not converge...\n Final Result: {w}")
    return w

In [28]:
def f_linear(X, w, b):
    return w.T @ X + b

X_aug = np.hstack([X_subset, np.ones((X_subset.shape[0], 1))]) # adding a column for the bias term

def grad_mse_linear(w_aug):
    n = X_aug.shape[0]
    return (2/n) * X_aug.T @ (X_aug @ w_aug - y)

w0_aug = np.ones(X_aug.shape[1])

# Run gradient descent
w_star_aug = accelerated_gd(grad_mse_linear, gamma=0.01, w0=w0_aug, N=100000)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Converged!
Iteration: 13176
w_star: [-0.01431122  1.39356285  0.25440479  0.51739103  0.93872312  0.17136587
  0.56192314  0.47903531  0.50611434  0.37411987  0.27081324 -0.16929021
  0.25517456 -0.51940712 -0.22851653 -0.36526147 -0.06705932 -0.08385855
 -0.15470895 -0.11831094 -0.51109861  0.05512345  0.05512345 -0.07192446
  0.47456307  0.28435558 -0.10109257  0.87662969  1.17818014  0.34351852
 -0.13132437  0.27468874  0.85471139 -0.0802301   0.75363027  0.21957225
 -0.26248149  0.88981469]
b_star: -0.8489525557829265

In [29]:
lm_agm_preds = f_linear(X.T, w_star, b_star)
lm_agm_mse = mean_squared_error(y, lm_agm_preds)
print(lm_agm_mse)

0.40794483810083954

# Ridge Regression Model

To avoid overfitting, we'll implement ridge regression, which essentially modifies the gradient function to include the L2 regularization term. This is also beneficial when we have a lot of features.
We will also be performing cross validation to find the optimal lambda value for each optimization method.

In [61]:
def grad_ridge_linear(w_aug, X_aug, y, lambda_): #new gradient function
    '''Gradient for Ridge Regression'''
    n = X_aug.shape[0]
    grad = (2/n) * X_aug.T @ (X_aug @ w_aug - y) + lambda_ * w_aug
    return grad

### Vanilla GD

In [62]:
def gd_ridge(w0, X_aug, y, N, gamma=0.01, lambda_=0.01, tol=1e-5):
    '''Vanilla Gradient Descent for Ridge Regression'''
    w = w0.copy()
    
    for i in range(N):
        grad = grad_ridge_linear(w, X_aug, y, lambda_)
        
        if np.linalg.norm(grad) < tol:
            print(f"GD Converged at iteration {i}")
            return w
        
        w = w - gamma * grad

    print("GD did not converge.")
    return w

def cross_val_gd_ridge(X, y, lambda_values, N=10000, gamma=0.01, k_folds=5):
    '''Cross-validation to select optimal lambda using vanilla GD'''
    kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)
    X = np.asarray(X)
    y = np.asarray(y)
    best_lambda = None
    best_mse = float('inf')

    for lambda_ in lambda_values:
        mse_list = []

        for train_index, val_index in kf.split(X):
            X_train_raw, X_val_raw = X[train_index], X[val_index]
            y_train, y_val = y[train_index], y[val_index]

            # Augment for bias
            X_train = np.hstack([X_train_raw, np.ones((X_train_raw.shape[0], 1))])
            X_val = np.hstack([X_val_raw, np.ones((X_val_raw.shape[0], 1))])
            w0_aug = np.zeros(X_train.shape[1])

            # Train using vanilla GD
            w_star_aug = gd_ridge(
                w0=w0_aug, X_aug=X_train, y=y_train,
                N=N, gamma=gamma, lambda_=lambda_
            )

            # Predict and compute MSE
            y_pred = X_val @ w_star_aug
            mse = mean_squared_error(y_val, y_pred)
            mse_list.append(mse)

        avg_mse = np.mean(mse_list)
        if avg_mse < best_mse:
            best_mse = avg_mse
            best_lambda = lambda_

    return best_lambda

lambda_values = [0.001, 0.01, 0.1, 1, 10, 100]
best_lambda = cross_val_gd_ridge(X, y, lambda_values, N=10000, gamma=0.01)

print(f"Optimal lambda (GD): {best_lambda}")

# Train on full data
X_aug = np.hstack([X, np.ones((X.shape[0], 1))])
w0_aug = np.zeros(X_aug.shape[1])

w_star_aug = gd_ridge(w0=w0_aug, X_aug=X_aug, y=y, N=100000, gamma=0.01, lambda_=best_lambda)

w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]

print(f"w_star: {w_star}")
print(f"b_star: {b_star}")

GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD did not converge.
GD Converged at iteration 6750
GD Converged at iteration 6428
GD Converged at iteration 6433
GD Converged at iteration 6710
GD Converged at iteration 6507
GD Converged at iteration 868
GD Converged at iteration 877
GD Converged at iteration 876
GD Converged at iteration 864
GD Converged at iteration 858
GD Converged at iteration 100
GD Converged at iteration 100
GD Converged at iteration 100
GD Converged at iteration 100
GD Converged at iteration 100
GD Converged at iteration 5
GD Converged at iteration 5
GD Converged at iteration 5
GD Converged at iteration 5
GD Converged at iteration 5
Optimal lambda (GD): 0.01
GD Converged at iteration 35267
w_star: [-0.49215169  0.80305956 -0.23948001  0.02955682  0.31169948 -0.21225251
  0.03844421 -0.0369065   0.16261157  0.01989767 -0.08152455 -0.14962576
 -0.05347424  0.11686953  0.09865834 -0.05114789 -0.04977702 -0.10813222
 -0.05388842  0.01318179 -0.38831221  0.04842487  0.04842487  0.01464014
 -0.12441529  0.19377591 -0.04903701  0.20407963  0.95490125  0.35706609
 -0.12673987 -0.18321681  0.22042199 -0.05165138  0.55393867  0.11173119
 -0.12485272  0.87709999]
b_star: 0.10098468557697184

In [63]:
def f_linear(X, w, b):
    return w.T @ X + b

lmr_vanilla_preds = f_linear(X.T, w_star, b_star)
lmr_vanilla_mse = mean_squared_error(y, lmr_vanilla_preds)
print(lmr_sgd_mse)

0.48708881040531915

In [64]:
def sgd_ridge(w0, X_aug, y, N, gamma=0.01, lambda_=0.01, batch_size=1, tol=1e-5):
    '''Stochastic Gradient Descent for Ridge Regression'''
    w = w0.copy()
    n = X_aug.shape[0]

    for i in range(N):
        # Sample a minibatch
        idx = np.random.choice(n, batch_size, replace=False)
        X_batch = X_aug[idx]
        y_batch = y[idx]

        # Compute gradient on minibatch
        grad = (2/batch_size) * X_batch.T @ (X_batch @ w - y_batch) + lambda_ * w

        if np.linalg.norm(grad) < tol:
            print(f"SGD Converged at iteration {i}")
            return w

        # Update
        w = w - gamma * grad

    print(f"SGD did not converge. Final weights returned.")
    return w

def cross_val_sgd_ridge(X, y, lambda_values, N=10000, gamma=0.01, batch_size=1, k_folds=5):
    '''Cross-validation to select optimal lambda using SGD'''
    X = np.asarray(X)
    y = np.asarray(y)
    kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)

    best_lambda = None
    best_mse = float('inf')

    for lambda_ in lambda_values:
        mse_list = []

        for train_index, val_index in kf.split(X):
            X_train_raw, X_val_raw = X[train_index], X[val_index]
            y_train, y_val = y[train_index], y[val_index]

            # Augment matrices
            X_train = np.hstack([X_train_raw, np.ones((X_train_raw.shape[0], 1))])
            X_val = np.hstack([X_val_raw, np.ones((X_val_raw.shape[0], 1))])

            w0_aug = np.zeros(X_train.shape[1])

            # Train using SGD
            w_star_aug = sgd_ridge(
                w0=w0_aug, X_aug=X_train, y=y_train,
                N=N, gamma=gamma, lambda_=lambda_,
                batch_size=batch_size
            )

            # Predict and compute MSE
            y_pred = X_val @ w_star_aug
            mse = mean_squared_error(y_val, y_pred)
            mse_list.append(mse)

        avg_mse = np.mean(mse_list)
        if avg_mse < best_mse:
            best_mse = avg_mse
            best_lambda = lambda_

    return best_lambda
lambda_values = [0.001, 0.01, 0.1, 1, 10, 100]
best_lambda = cross_val_sgd_ridge(X, y, lambda_values, N=10000, gamma=0.01, batch_size=1)

print(f"Optimal lambda (SGD): {best_lambda}")

# Retrain on full dataset
X_aug = np.hstack([X, np.ones((X.shape[0], 1))])
w0_aug = np.zeros(X_aug.shape[1])

w_star_aug = sgd_ridge(
    w0=w0_aug, X_aug=X_aug, y=y,
    N=100000, gamma=0.01, lambda_=best_lambda,
    batch_size=1
)

w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]

print(f"w_star: {w_star}")
print(f"b_star: {b_star}")

lm_agm_preds = f_linear(X.T, w_star, b_star)
lm_agm_mse = mean_squared_error(y, lm_agm_preds)
print(lm_agm_mse)

SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
SGD did not converge. Final weights returned.
Optimal lambda (SGD): 0.1
SGD did not converge. Final weights returned.
w_star: [-0.351642    0.38909162 -0.21573899  0.17031193  0.07960694 -0.05778351
  0.01458246 -0.04438333  0.20789409 -0.06006202 -0.15580951  0.00262798
  0.03269773  0.17745967  0.18089401 -0.15617372 -0.03765383 -0.047908
 -0.07012743  0.0476749  -0.2821823  -0.04383788 -0.04383788  0.11794078
 -0.03152565  0.02497073  0.04038008  0.11465631  0.32032322  0.16608675
 -0.02788683 -0.03515318  0.12948219  0.0027194   0.12612031  0.05916354
 -0.03560353  0.61896996]
b_star: -0.007977437703776569
0.4928791295252101

In [65]:
def accelerated_gd_ridge(grd_func, gamma, w0, X_aug, y, N, lambda_, momentum=0.9, tol=1e-5):
    '''AGM for Ridge Regression'''
    w = w0
    v = np.zeros_like(w0)

    for n in range(N):
        grad = grd_func(w, X_aug, y, lambda_)

        if np.linalg.norm(grad) < tol:
            print(f"Converged!\nIteration: {n}")
            return w

        v = momentum * v - gamma * grad
        w = w + v

    print(f"Did not converge...\n Final Result: {w}")
    return w

def cross_val_agm_ridge(X, y, lambda_values, N=10000, gamma=0.01, momentum=0.9, k_folds=5):
    '''Cross-validation for Ridge Regression to find best lambda'''
    kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)
    
    best_lambda = None
    best_mse = float('inf')
    
    for lambda_ in lambda_values:
        mse_list = []
        
        for train_index, val_index in kf.split(X):
            X_train_raw, X_val_raw = X[train_index], X[val_index]
            y_train, y_val = y[train_index], y[val_index]

            # Augment design matrices
            X_train = np.hstack([X_train_raw, np.ones((X_train_raw.shape[0], 1))])
            X_val = np.hstack([X_val_raw, np.ones((X_val_raw.shape[0], 1))])

            # Initialize weight vector (match augmented X_train)
            w0_aug = np.zeros(X_train.shape[1])

            # Run AGM with Ridge
            w_star_aug = accelerated_gd_ridge(
                grad_ridge_linear, gamma=gamma, w0=w0_aug,
                X_aug=X_train, y=y_train, N=N, lambda_=lambda_, momentum=momentum
            )

            # Predict
            y_pred = X_val @ w_star_aug

            # Compute MSE
            mse = mean_squared_error(y_val, y_pred)
            mse_list.append(mse)
        
        avg_mse = np.mean(mse_list)

        if avg_mse < best_mse:
            best_mse = avg_mse
            best_lambda = lambda_

    return best_lambda


X_aug = np.hstack([X, np.ones((X.shape[0], 1))])  # X with a bias column of 1s

# Initialize weight vector for the augmented X matrix
w0_aug = np.zeros(X_aug.shape[1]) 

lambda_values = [0.001, 0.01, 0.1, 1, 10, 100]  # Range of lambda values
best_lambda = cross_val_agm_ridge(X_aug, y, lambda_values)

print(f"Optimal lambda: {best_lambda}")


# After finding the optimal lambda
w_star_aug = accelerated_gd_ridge(grad_ridge_linear, gamma=0.01, w0=w0_aug, X_aug=X_aug, y=y, N=100000, lambda_=best_lambda)

# Extract weights and bias
w_star = w_star_aug[:-1]
b_star = w_star_aug[-1]
print(f'w_star: {w_star}')
print(f'b_star: {b_star}')

Converged!
Iteration: 9981
Converged!
Iteration: 6907
Converged!
Iteration: 8967
Converged!
Iteration: 9268
Converged!
Iteration: 7280
Converged!
Iteration: 4017
Converged!
Iteration: 3231
Converged!
Iteration: 3829
Converged!
Iteration: 3942
Converged!
Iteration: 3113
Converged!
Iteration: 597
Converged!
Iteration: 565
Converged!
Iteration: 566
Converged!
Iteration: 593
Converged!
Iteration: 571
Converged!
Iteration: 206
Converged!
Iteration: 204
Converged!
Iteration: 205
Converged!
Iteration: 204
Converged!
Iteration: 205
Converged!
Iteration: 213
Converged!
Iteration: 206
Converged!
Iteration: 206
Converged!
Iteration: 205
Converged!
Iteration: 213
Converged!
Iteration: 204
Converged!
Iteration: 204
Converged!
Iteration: 204
Converged!
Iteration: 204
Converged!
Iteration: 204
Optimal lambda: 0.01
Converged!
Iteration: 3481
w_star: [-0.49215182  0.80305943 -0.23948008  0.02955672  0.3117005  -0.21225432
  0.03844433 -0.03690627  0.16261142  0.0198975  -0.08152467 -0.1496258
 -0.05347411  0.11686999  0.09865818 -0.05114804 -0.04977706 -0.10813162
 -0.05388819  0.01318193 -0.38831205  0.04842515  0.04842515  0.01463959
 -0.12441486  0.19377658 -0.04903726  0.20407899  0.95490117  0.35706635
 -0.12673902 -0.18321693  0.22042278 -0.05165162  0.55393873  0.11173196
 -0.12485437  0.87709999]
b_star: 0.10098424605073351

In [66]:
lmr_agm_preds = f_linear(X.T, w_star, b_star)
lmr_agm_mse = mean_squared_error(y, lmr_agm_preds)
print(lmr_agm_mse)

0.41111503097725993